.img {
  width: 100%;
  margin-bottom: 30px;
}

.color1 {
  background-color: rgb(255, 255, 0);
}

.color2 {
  background-color: rgb(255, 0, 255);
}

.color3 {
  background-color: rgb(0, 255, 255);
}

.color4 {
  background-color: rgb(255, 165, 0);
}

.color5 {
  background-color: rgb(255, 0, 165);
}

.color6 {
  background-color: rgb(255, 192, 203);
}

.color6 {
  background-color: rgb(0, 128, 0);
}
